body {
    max-width: 1020px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}
.field {
    margin: 10px;
    width: 96%;

    form{
        width: 100%;

        textarea {
            resize: none;
            font-size: 18px;
            padding: 10px;
            width: 100%;
            height: 35vh;
            scrollbar-width: none;

            &::-webkit-scrollbar{
                width: 0;
            }
        }        
    }
}
.keyboard {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(26, 26, 26);
    ;

    &-button, &-button_double {
        color: white;
        background-color: rgb(51, 51, 51);
        transition: all 0.2s ease 0s;
        text-align: center;
        margin: 0.2%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        height: 50px;
        overflow: hidden;
        
        &:hover {
            cursor: pointer;
            background-color: white;
            color: black !important;
        }
        &:active {
            color: white;
            background-color: #038487;
        }
    }    
    .active {
        color: white;
        background-color: #038487;
    }
    &-button_double {
        position: relative;

        p {
            margin: 0;
        }
        .act {
            color: #7a7a7a;
        }
        &:hover .act {
            color: white;
        }
        .passive {
            font-size: 20px;
            position: absolute;
            top: 0px;
            left: 3px;
            color: #7a7a7a;
        }
        &:hover .passive {
            color: white;
        }
        .selected {
            color: white;
        }
        &:hover .selected {
            color: black !important;
        }
    }
}